.array-container{
    position: absolute;
    left: 100px;
    margin-top: 20px;
}

.array-bar{
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

.btn{
    margin: 1rem;
    background-color: aqua;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn:hover{
    background-color: aquamarine;
    color: red;
}